In [1]:
from pyspark.sql import *
from pyspark import SparkContext

In [2]:
spark = SparkSession.builder.enableHiveSupport().getOrCreate()

In [28]:
sc = SparkContext()
sqlContext=SQLContext(sc)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by getOrCreate at <ipython-input-27-08fa0d432cb2>:1

In [3]:
employee_df=spark.read.json("hdfs://nameservice1/user/arnavmoutl12edu/module6/Employees.json") #in webconsole, you can also use sqlContext instead of spark

In [4]:
employee_df.show()

+---+---------+------+
| ID|     Name|Salary|
+---+---------+------+
|  1|     John| 20000|
|  2|    Rohit| 15000|
|  3|    Parth| 14600|
|  4|  Rishabh| 20500|
|  5|    Daisy| 34000|
|  6|    Annie| 23000|
|  7| Sushmita| 50000|
|  8| Kaivalya| 20000|
|  9|    Varun| 70000|
| 10|Shambhavi| 21500|
| 11|  Johnson| 25500|
| 12|     Riya| 17000|
| 13|    Krish| 17000|
| 14| Akanksha| 20000|
| 15|   Rutuja| 21000|
+---+---------+------+

In [31]:
employee_df.describe().show()

+-------+----------------+--------+------------------+
|summary|              ID|    Name|            Salary|
+-------+----------------+--------+------------------+
|  count|              15|      15|                15|
|   mean|             8.0|    null|           25940.0|
| stddev|4.47213595499958|    null|15075.183012393012|
|    min|               1|Akanksha|             14600|
|    max|              15|   Varun|             70000|
+-------+----------------+--------+------------------+

In [32]:
demo=spark.read.json("hdfs://nameservice1/user/arnavmoutl12edu/module6/demo.json")

In [33]:
demo.show()

AnalysisException: 'Since Spark 2.3, the queries from raw JSON/CSV files are disallowed when the\nreferenced columns only include the internal corrupt record column\n(named _corrupt_record by default). For example:\nspark.read.schema(schema).json(file).filter($"_corrupt_record".isNotNull).count()\nand spark.read.schema(schema).json(file).select("_corrupt_record").show().\nInstead, you can cache or save the parsed results and then send the same query.\nFor example, val df = spark.read.schema(schema).json(file).cache() and then\ndf.filter($"_corrupt_record".isNotNull).count().;'

In [34]:
employee_df.printSchema()

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

In [35]:
employee_df.select("Salary").show()

+------+
|Salary|
+------+
| 20000|
| 15000|
| 14600|
| 20500|
| 34000|
| 23000|
| 50000|
| 20000|
| 70000|
| 21500|
| 25500|
| 17000|
| 17000|
| 20000|
| 21000|
+------+

In [5]:
employee_df.select(employee_df['Name'], employee_df['Salary'] + 10).show()

+---------+-------------+
|     Name|(Salary + 10)|
+---------+-------------+
|     John|        20010|
|    Rohit|        15010|
|    Parth|        14610|
|  Rishabh|        20510|
|    Daisy|        34010|
|    Annie|        23010|
| Sushmita|        50010|
| Kaivalya|        20010|
|    Varun|        70010|
|Shambhavi|        21510|
|  Johnson|        25510|
|     Riya|        17010|
|    Krish|        17010|
| Akanksha|        20010|
|   Rutuja|        21010|
+---------+-------------+

In [6]:
employee_df.filter(employee_df['ID'] > 9).show()

+---+---------+------+
| ID|     Name|Salary|
+---+---------+------+
| 10|Shambhavi| 21500|
| 11|  Johnson| 25500|
| 12|     Riya| 17000|
| 13|    Krish| 17000|
| 14| Akanksha| 20000|
| 15|   Rutuja| 21000|
+---+---------+------+

In [7]:
employee_df.filter((employee_df['Salary'] > 12000) & (employee_df['Salary'] < 18000)).show()

+---+-----+------+
| ID| Name|Salary|
+---+-----+------+
|  2|Rohit| 15000|
|  3|Parth| 14600|
| 12| Riya| 17000|
| 13|Krish| 17000|
+---+-----+------+

In [39]:
employee_df.groupBy("Salary").count().show()

+------+-----+
|Salary|count|
+------+-----+
| 21000|    1|
| 21500|    1|
| 14600|    1|
| 23000|    1|
| 25500|    1|
| 34000|    1|
| 20000|    3|
| 70000|    1|
| 17000|    2|
| 15000|    1|
| 20500|    1|
| 50000|    1|
+------+-----+

In [8]:
employee_df.createOrReplaceTempView("EMP")

In [9]:
sqlDF = spark.sql("SELECT name, salary*1.20 as salary FROM EMP where id > 9")

In [10]:
spark.sql("Select * from EMP where salary between 12000 and 18000").show()

+---+-----+------+
| ID| Name|Salary|
+---+-----+------+
|  2|Rohit| 15000|
|  3|Parth| 14600|
| 12| Riya| 17000|
| 13|Krish| 17000|
+---+-----+------+

In [137]:
sqlDF.show()

+---------+--------+
|     name|  salary|
+---------+--------+
|Shambhavi|25800.00|
|  Johnson|30600.00|
|     Riya|20400.00|
|    Krish|20400.00|
| Akanksha|24000.00|
|   Rutuja|25200.00|
+---------+--------+

In [ ]:
#parquet file

In [148]:
peopleDF=spark.read.json("hdfs://nameservice1/user/arnavmoutl12edu/module6/people.json")

In [149]:
peopleDF.write.parquet("hdfs://nameservice1/user/arnavmoutl12edu/module6/people3.parquet")

In [150]:
parquetFile=spark.read.parquet("hdfs://nameservice1/user/arnavmoutl12edu/module6/people3.parquet")

In [151]:
parquetFile.createOrReplaceTempView('parquetFile')

In [155]:
teenagers=spark.sql("SELECT name FROM parquetFile WHERE age>=13 AND age<=19")

In [156]:
teenagers.show()

+------+
|  name|
+------+
|justin|
+------+

In [159]:
#UDF
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [ ]:
peopleDF = spark.read.json("hdfs://nameservice1/user/arnavmoutl12edu/module6/people.json")

In [157]:
def uppercase_simple(strng):
    return strng.upper()

In [158]:
uppercase_udf = udf(uppercase_simple, StringType())

In [160]:
spark.udf.register("upper_UDF", uppercase_simple)

In [ ]:
uppercase_udf = udf("uppercase", lambda x:x.upper())

In [161]:
peopleDF.createOrReplaceTempView("PEP")

In [162]:
newRDD=spark.sql("SELECT upper_UDF(name) FROM PEP WHERE age>20")

In [163]:
newRDD.show()

+---------------+
|upper_UDF(name)|
+---------------+
|        MICHAEL|
|           ANDY|
+---------------+

In [165]:
from pyspark import SparkConf
SparkConf().getAll()

[('spark.master', 'local[*]'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.app.name', 'pyspark-shell')]

In [166]:
spark.sql("CREATE TABLE IF NOT EXISTS BATCH_SPARKHIVE_ARNAV_EMP as Select * from EMP")

AnalysisException: "Hive support is required to CREATE Hive TABLE (AS SELECT);;\n'CreateTable `BATCH_SPARKHIVE_ARNAV_EMP`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, Ignore\n+- Project [ID#415L, Name#416, Salary#417L]\n   +- SubqueryAlias `emp`\n      +- Relation[ID#415L,Name#416,Salary#417L] json\n"

# Hive Integration

In [11]:
from pyspark import SparkConf
SparkConf().getAll()

[('spark.sql.catalogImplementation', 'hive'),
 ('spark.master', 'local[*]'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.app.name', 'pyspark-shell')]

In [12]:
import pyspark
config = pyspark.SparkConf().setAll([('spark.sql.warehouse.dir','/user/hive/warehouse')])

In [13]:
spark.sparkContext.getConf().getAll()

[('spark.driver.host', 'ip-10-1-1-204.ap-south-1.compute.internal'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.driver.port', '34408'),
 ('spark.executor.id', 'driver'),
 ('spark.app.id', 'local-1644159819998'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.app.name', 'pyspark-shell')]

In [15]:
spark.sql("DROP TABLE IF EXISTS BATCH_SPARKHIVE__arnav_employee")
spark.sql("drop TABLE IF EXISTS BATCH_SPARKHIVE_arnav_EMP")

DataFrame[]

In [18]:
tableDef = r"CREATE TABLE IF NOT EXISTS BATCH_SPARKHIVE__arnav_employee ( eid int, name String, dept int, gender String, salary String, age int ) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'"

In [56]:
tableDef

"CREATE TABLE IF NOT EXISTS BATCH_SPARKHIVE__arnav_employee ( eid int, name String, dept int, gender String, salary String, age int ) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' tblproperties('skip.header.line.count'='1')"

In [20]:
spark.sql(tableDef)

DataFrame[]

In [21]:
spark.sql("LOAD DATA LOCAL INPATH '/home/arnavmoutl12edu/module6/emp.csv' OVERWRITE INTO TABLE BATCH_SPARKHIVE__arnav_employee")

DataFrame[]

In [24]:
spark.sql("LOAD DATA LOCAL INPATH '/home/arnavmoutl12edu/module6/emp.csv' INTO TABLE BATCH_SPARKHIVE__arnav_employee")

DataFrame[]

In [25]:
dfHive = spark.sql("Select * from BATCH_SPARKHIVE__arnav_employee order by eid")

In [26]:
dfHive.show()

+----+----+----+------+------+---+
| eid|name|dept|gender|salary|age|
+----+----+----+------+------+---+
|7001| ABC| 100|     M|107773| 30|
|7001| ABC| 100|     M|107773| 30|
|7002| DEF| 101|     M|122183| 25|
|7002| DEF| 101|     M|122183| 25|
|7003| GHI| 102|     F|147458| 26|
|7003| GHI| 102|     F|147458| 26|
|7004| JKL| 103|     F|140967| 29|
|7004| JKL| 103|     F|140967| 29|
|7005| MNO| 104|     M|136789| 28|
|7005| MNO| 104|     M|136789| 28|
|7006| PQR| 100|     F|143416| 26|
|7006| PQR| 100|     F|143416| 26|
|7007| STU| 101|     M|138235| 30|
|7007| STU| 101|     M|138235| 30|
|7008| VWX| 102|     F|145933| 30|
|7008| VWX| 102|     F|145933| 30|
|7009| YZA| 103|     M|106135| 26|
|7009| YZA| 103|     M|106135| 26|
|7010| BCD| 104|     M|107928| 29|
|7010| BCD| 104|     M|107928| 29|
+----+----+----+------+------+---+
only showing top 20 rows

In [27]:
spark.sql("CREATE TABLE IF NOT EXISTS BATCH_SPARKHIVE_arnav_EMP as Select * from EMP")

DataFrame[]

In [28]:
dfHiveEmp = spark.sql("Select * from BATCH_SPARKHIVE_arnav_EMP")

In [29]:
dfHiveEmp.show()

+---+---------+------+
| ID|     Name|Salary|
+---+---------+------+
|  1|     John| 20000|
|  2|    Rohit| 15000|
|  3|    Parth| 14600|
|  4|  Rishabh| 20500|
|  5|    Daisy| 34000|
|  6|    Annie| 23000|
|  7| Sushmita| 50000|
|  8| Kaivalya| 20000|
|  9|    Varun| 70000|
| 10|Shambhavi| 21500|
| 11|  Johnson| 25500|
| 12|     Riya| 17000|
| 13|    Krish| 17000|
| 14| Akanksha| 20000|
| 15|   Rutuja| 21000|
+---+---------+------+

In [83]:
spark.stop()